* {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 16px;
}

body {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    user-select: none;
}

#tool-holder {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#tool-holder>div {
    background-color: white;
    width: calc(100vw - 64px);
    height: calc(100vh - 64px);
    border: 1px solid rgb(192, 192, 192);
    border-radius: 16px;
    box-shadow: 0 0 12px 12px rgb(234, 234, 234);
}

@keyframes popin {
    0% {
        opacity: 0;
        transform: scale(0.98);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.popin{
    animation: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) popin forwards;
}

#tool-holder>div>iframe {
    border: none;
    width: 100%;
    height: calc(100% - 48px);
}

#tool-holder>div>.titlebar {
    height: 48px;
    display: flex;
    flex-direction: row-reverse;
}

.titlebar>button {
    background-color: rgb(224, 224, 224);
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border: none;
    margin: 10px;
    background-image: url('assets/close.webp');
    transition: filter 0.2s ease-out;
    cursor: pointer;
}

.titlebar>button:hover {
    filter: brightness(0.9);
}

#status {
    height: 0;
    visibility: collapse;
    font-size: 0;
}

#status.active {
    height: 16px;
    visibility: visible;
    font-size: 16px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 96px);
    animation: 1s ease-out fadein forwards;
}

#tools {
    display: flex;
    justify-content: center;
    gap: 16px;
}

#tools>div {
    border-radius: 16px;
    border: 1px solid rgb(234, 234, 234);
    width: 224px;
    height: 128px;
    display: flex;
    align-items: flex-end;
    padding: 12px;
    user-select: none;
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
}

#tools>div:hover {
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(128, 128, 128);
}

#tools>div:active {
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: scale(0.97)
}

#container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    text-align: center;
}

#container p {
    color: gray;
    line-height: 24px;
}

#drop-zone {
    width: 320px;
    height: 180px;
    border: 1px solid #c9c9c9;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;
    text-align: center;
}

#drop-zone.collapsed {
    height: 10px;
    border-color: transparent;
}

#drop-zone.dragging {
    border-color: #000000;
    background: rgba(0, 0, 0, 0.1);
}

#drop-zone>.drop-content>.icon {
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}


#drop-zone.collapsed>.drop-content>.icon {
    transform: scale(0.5);
}

#drop-zone:hover {
    filter: contrast(0.2) brightness(1.1);
}

#drop-zone input[type="file"] {
    display: none;
}

.drop-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #555;
    font-size: 14px;
}

.icon {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    background-image: url("assets/folder.svg");
    background-repeat: no-repeat;
    background-position: center;
}

#drop-zone.dragover {
    border-color: #2b7cff;
    background: #eaf3ff;
}

.status-bar {
    display: none;
    position: absolute;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.status-bar.active {
    display: flex;
}

.progress {
    width: 70%;
    height: 6px;
    background: #eee;
    border-radius: 6px;
    overflow: hidden;
}

#progressFill {
    height: 100%;
    width: 0%;
    background: #333;
    animation: 2.5s ease-in-out pulsebg infinite;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes pulsebg {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}